In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('prep.csv')

In [3]:
data

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
data.isnull().sum()

age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hrmo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [5]:
data.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hrmo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [6]:
df=pd.get_dummies(data,drop_first=True)

In [7]:
df

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,False,False,False,False,False,False,True,True,False,True
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,True,False,False,False,False,False,True,False,False,True
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,True,False,False,False,False,False,True,False,False,True
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,True,False,False,False,False,False,True,False,True,True
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,True,False,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,True,False,False,False,False,False,True,False,False,True
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,True,False,False,True,True,False,True,False,True,True
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,True,False,False,True,True,False,False,False,False,True
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,True,False,False,True,True,False,True,False,True,True
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,True,False,False,False,False,False,True,False,False,False

In [8]:
X_indep=df.drop('classification_yes',axis=1)

In [9]:
Y_dep=df['classification_yes']

In [10]:
Y_dep

0       True
1       True
2       True
3       True
4       True
       ...
394     True
395     True
396     True
397     True
398    False
Name: classification_yes, Length: 399, dtype: bool

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score

In [12]:
def split_stad_scallar(X_indep,Y_dep):
    X_train,X_test,Y_train,Y_test=train_test_split(X_indep,Y_dep,test_size=0.25,random_state=0)
    sc=StandardScaler()
    X_train=sc.fit_transform(X_train,Y_train)
    X_test=sc.transform(X_test)
    return X_train,X_test,Y_train,Y_test

In [13]:
from sklearn.linear_model import LinearRegression
def Linear_regression(X_train,Y_train,X_test,Y_test):
    regressor=LinearRegression()
    regressor.fit(X_train,Y_train)
    Y_pred=regressor.predict(X_test)
    r2=r2_score(Y_test,Y_pred)
    return r2

In [14]:
from sklearn.svm import SVR
def svm_linear(X_train,Y_train,X_test,Y_test):
    regressor=SVR(kernel='linear')
    regressor.fit(X_train,Y_train)
    Y_pred=regressor.predict(X_test)
    r2=r2_score(Y_test,Y_pred)
    return r2

In [15]:
from sklearn.svm import SVR
def svm_nonlinear(X_train,Y_train,X_test,Y_test):
    regressor=SVR(kernel='rbf')
    regressor.fit(X_train,Y_train)
    Y_pred=regressor.predict(X_test)
    r2=r2_score(Y_test,Y_pred)
    return r2

In [16]:
from sklearn.tree import DecisionTreeRegressor
def decission(X_train,Y_train,X_test,Y_test):
    regressor=DecisionTreeRegressor(random_state=0)
    regressor.fit(X_train,Y_train)
    Y_pred=regressor.predict(X_test)
    r2=r2_score(Y_test,Y_pred)
    return r2

In [17]:
from sklearn.ensemble import RandomForestRegressor
def random(X_train,Y_train,X_test,Y_test):
    regressor=RandomForestRegressor(n_estimators = 10, random_state = 0)
    regressor.fit(X_train,Y_train)
    Y_pred=regressor.predict(X_test)
    r2=r2_score(Y_test,Y_pred)
    return r2

In [18]:
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
def sfs_feature(indep_X,dep_Y,n):
    sfs_results = []
    models = [
        [LinearRegression(),'LinearRegression'],
        # [SVR(kernel='linear'),'SVR_linear'],
        [DecisionTreeRegressor(random_state=0),'DecisionTree'],
        [RandomForestRegressor(n_estimators=10, random_state=0),'Random_Forest']
    ]
    for model, name in models:
        sfs_forward = SFS(estimator=model, 
                          k_features=n,
                          forward=True,
                          floating=False,
                          scoring='r2',
                          cv=5,
                          n_jobs=-1)
        
        selected_features=sfs_forward.fit_transform(indep_X, dep_Y)
        selected_columns = indep_X.columns[list(sfs_forward.k_feature_idx_)]
        r2_cv_score = sfs_forward.k_score_

        print(f"Model: {name}")
        print(f"Selected Columns: {list(selected_columns)}")
        print(f"Cross-Validated R² Score: {r2_cv_score:.4f}")

        sfs_results.append(selected_features)

    return sfs_results

In [25]:
def sfs_regression(acclog,accdes,accrf): 
    
    rfedataframe=pd.DataFrame(index=['Linear','Random','DecisionTree'],columns=['Linear',
                                                                                        'Decision','Random'])

    for number,idex in enumerate(rfedataframe.index):
        
        rfedataframe.loc[idex, 'Linear'] = acclog[number]
     
        rfedataframe.loc[idex, 'Decision'] = accdes[number]
        rfedataframe.loc[idex, 'Random'] = accrf[number]
    return rfedataframe

In [26]:
sfslist=sfs_feature(X_indep,Y_dep,3)

Model: LinearRegression
Selected Columns: ['hrmo', 'sg_b', 'dm_yes']
Cross-Validated R² Score: 0.5876
Model: DecisionTree
Selected Columns: ['al', 'pcv', 'dm_yes']
Cross-Validated R² Score: 0.9109
Model: Random_Forest
Selected Columns: ['al', 'pcv', 'dm_yes']
Cross-Validated R² Score: 0.9063

In [27]:
sfslist

[array([[12.518155619596538, False, False],
        [10.7, False, False],
        [12.0, False, False],
        ...,
        [9.1, False, True],
        [8.5, False, True],
        [16.3, False, False]], shape=(399, 3), dtype=object),
 array([[3.0, 38.86890243902439, False],
        [2.0, 34.0, False],
        [1.0, 34.0, False],
        ...,
        [3.0, 26.0, True],
        [0.0, 38.86890243902439, True],
        [0.0, 53.0, False]], shape=(399, 3), dtype=object),
 array([[3.0, 38.86890243902439, False],
        [2.0, 34.0, False],
        [1.0, 34.0, False],
        ...,
        [3.0, 26.0, True],
        [0.0, 38.86890243902439, True],
        [0.0, 53.0, False]], shape=(399, 3), dtype=object)]

In [28]:
acclin=[]
accsvml=[]
accsvmnl=[]
accdes=[]
accrf=[]

In [29]:
for entry in sfslist:
    

    X_train, X_test, Y_train, Y_test = split_stad_scallar(entry, Y_dep)

    r2_lin = Linear_regression(X_train, Y_train, X_test, Y_test)
    acclin.append(r2_lin)

    r2_sl = svm_linear(X_train, Y_train, X_test, Y_test)
    accsvml.append(r2_sl)

    r2_NL = svm_nonlinear(X_train, Y_train, X_test, Y_test)
    accsvmnl.append(r2_NL)

    r2_d = decission(X_train, Y_train, X_test, Y_test)
    accdes.append(r2_d)

    r2_r = random(X_train, Y_train, X_test, Y_test)
    accrf.append(r2_r)

# Final aggregation (example function)
result = sfs_regression(acclin, accdes, accrf)

In [30]:
result

                Linear  Decision    Random
Linear        0.618232  0.758988  0.754943
Random        0.601499  0.959831  0.961972
DecisionTree  0.601499  0.959831  0.961972